{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
<link href="{% static 'custom.css' %}" rel="stylesheet" />
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Inicio" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="wrapper instructions">
        <div>
        <p align ="center">
            <b><em>¡Hola!</em></b>
            <br> Gracias por escuchar nuestra radionovela <b>"Volver a empezar"</b>
            <br> Como sabes, cada jueves se habilitará el acceso a los siguientes 3 capitulos de la radionovela.
        </p>
        <br><b>Ten en cuenta en cuenta que en las siguiente fechas tendras acceso a los siguiente capitulos:</b>

        <table class="horizontal-borders" border="1" align="center">
            <tr>
                <th style="width: 30%;">Fechas</th>
                <th style="width: 30%;">Capitulos disponibles</th>
                <th style="width: 30%;">Fecha de Sorteo</th>
            </tr>
            <tr>
                <td>15 de febrero</td>
                <td>4 al 6</td>
                <td>22 de febrero</td>
            </tr>
            <tr>
                <td>22 de febrero</td>
                <td>7 al 9</td>
                <td>22 de febrero</td>
            </tr>
            <tr>
                <td>29 de febrero</td>
                <td> 10 al 12</td>
                <td>14 de marzo</td>
            </tr>
            <tr>
                <td>7 de marzo</td>
                <td>13 al 15</td>
                <td>14 de marzo</td>
            </tr>
        </table>
        <br>
        <br>Si aún no hemos hemos llegado a las fechas, ¡Nos vemos el próximo jueves!
        <br>Si ya han pasado las fechas de la tabla, puedes continuar con los capitulos sin ningún inconveniente!  
        <br>
        <br>
    </div>
    <p align = "center">
        <br>
        <b>¡Tu ayuda es valiosa y apreciada! 
            <br>¡Gracias por formar parte de este proyecto!
        </b>
    <br>  
    <br>Si tienes preguntas o inquietudes, no dudes en llamarnos o escribirnos al WhatsApp XXXXXXXXX 
    <br>

    {% next_button %}

{% endblock %}
  