{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
<link href="{% static 'custom.css' %}" rel="stylesheet" />
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Preguntas 2" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="wrapper instructions">
        <b>1. ¿Cuál carita expresa mejor tu opinión sobre los 3 capitulos que acabas de escuchar? </b>
        <p align = "justify" >
            <table class="table">
                <tr>
                    <th></th>
                    <th><span class="icocor1" style="font-size: 36px;">&#128545;</span></td></th>
                    <th><span class="icocor1" style="font-size: 36px;">&#128557;</span></td></th>
                    <th><span class="icocor1" style="font-size: 36px;">&#128580;</span></td></th>
                    <th><span class="icocor1" style="font-size: 36px;">&#128578;</span></td></th>
                    <th><span class="icocor1" style="font-size: 36px;">&#128513;</span></td></th>
                </tr>
                <tr>
                    <td></td>
                    {% for choice in form.P2P1_emocion_2 %}
                        <td>{% choice %}</td>
                    {% endfor %}
                </tr>
            </table>
        </p>
    </div>

    <div class="wrapper instructions">
        <p align = "justify" >
            <table class="table">
                <tr>
                    <th></th>
                    <th><span class="icocor1" style="font-size: 36px;">&#128077;</span></td></th>
                    <th><span class="icocor1" style="font-size: 36px;">&#128078;</span></td></th>
                </tr>
                <tr>
                    <td>2. ¿Estas de acuerdo con que las chicas deberían jugar en el equipo con los chicos?</td>
                    {% for choice in form.P2P2_jugar %}
                        <td>{% choice %}</td>
                    {% endfor %}
                </tr>
            </table>
        </p>
    </div>

    <div class="wrapper instructions">
        <p align = "justify" >
                            
            {{ formfield 'P2P3_capitan' }}
            {{ formfield 'P2P4_preocupados' }}
            {{ formfield 'P2P5_futbol' }}
            {{ formfield 'P2P6_proximos' }}
            {{ formfield 'P2P7_amigos' }}

        </p>
    </div>
    
{% next_button %}

{{ endblock }}
