{% extends "global/Page.html" %}
{% load static otree %}

{% block title %}
    Capítulo 2: "Cuando un carajito también es un chino",
{% endblock %}

{% block styles %}
    <link href="{% static 'custom.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="wrapper instructions">
            <p align="justify">
                <b>¡Hola!</b>
                <br>
                <br> No te pierdas el <b>Capítulo 2: "Cuando un carajito también es un chino",</b> de nuestra radionovela <b>"Volver a Empezar"</b>
            </p>
            <p align="center">
                <br>Porfa, <b>escucha con atención para que puedas responder las preguntas:</b>
            </p>
                <audio controls preload="auto" id="audio2" ontimeupdate="registrarTiempo('audio{{ num_pagina }}')" style="display: block; margin: 0 auto;">
                    <source src="{% static 'sounds/capitulo2.mp3' %}" type="audio/mpeg">
                </audio>
                <br>
            <p align="justify">
                Sólo por escuchar el audio completo ya tendrás una <b>boleta</b> para el primer <b> sorteo del 8 de febrero</b>. 
                <br>Pero eso no es todo, por cada pregunta que respondas bien, te daremos una boleta adicional.
                <br>
                <br>
            </p>
    </div>        

    <div class="wrapper instructions">
        <p align="justify">En caso de que quieras volver a escuchar alguno de los capítulos anteriores:</p>
        <ul>
            <li>
                Capítulo 1: "Frankie llega al colegio"
                <br>
                <audio controls preload="metadata">
                    <source src="{% static 'sounds/capitulo1.mp3' %}" type="audio/mpeg">
                </audio>
            </li>
        </ul>
        <p align="center">
            <br>Oprime el botón "siguiente" para continuar con los siguientes capítulos y las preguntas, 
            <br>Sólo te tomará unos minutos.
        </p>
    </div>
    

    <input type="hidden" name="tiempos_reproduccion_json" id="tiemposReproduccionInput"/>
    <input type="hidden" name="timeSpent" id="timeSpent"/>
    {{ formfield_errors 'tiempos_reproduccion_json' }}
    {% next_button %}
    </div>



    <div id="modalNumeroAleatorio" style="display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color:  rgba(0,0,0,0.5); z-index: 1000;">
        <div style="position: relative; margin: 10% auto; padding: 20px; width: 50%; text-align: center; background-color: white; border-radius: 15px;">
            <h2 style="font-weight: bold;">¡Muchas gracias por escucharnos!</h2>
            <p>Por escuchar este capítulo, has ganado el siguiente boleto de lotería:</p>
            <!-- Contenedor de la imagen del boleto y el número -->
            <div style="position: relative; display: inline-block;">
                <img src="{% static 'images/Boleto_1Sorteo_22Feb.png' %}" alt="Golden Ticket" style="width: 100%; margin-top: 20px;">
                <!-- Número del boleto posicionado sobre la imagen -->
                <span id="numeroAleatorio" style="position: absolute; left: 75%; top: 18%; transform: translate(-50%, -50%); font-size: 2em; color: rgb(252, 249, 249); font-weight: bold;"></span>
            </div>
            <br>
            <a href="{% static 'images/Boleto_1Sorteo_22Feb.png' %}" download="Boleto1Sorteo.jpg">
                Descargar Boleto
            <br>  
            <!-- Botón Aceptar centrado debajo de la imagen -->
            <button id="botonAceptarModal" onclick="manejarAceptar()" style="margin-top: 20px; display: inline-block; width: auto; padding: 10px 20px; font-size: 1em;">Aceptar</button>
        </div>
    </div>


{% endblock %}


{% block scripts %}
<script>
    function obtenerIdentificadorUnico() {
        var urlParts = window.location.pathname.split('/');
        var indexP = urlParts.indexOf('p');
        return indexP >= 0 ? urlParts[indexP + 1] : 'default';
    }

    var identificadorUnico = obtenerIdentificadorUnico();
    var pageTimeElapsed = localStorage.getItem('pageTimeElapsed_' + identificadorUnico) || 0;
    var pageTimerID = -1;
    var tiemposReproduccion = {};
    var audioReproducido = false;
    var modalAbierto = false;

    function pageTick() {
        pageTimeElapsed++;
        document.getElementById("timeSpent").value = pageTimeElapsed;
        localStorage.setItem('pageTimeElapsed_' + identificadorUnico, pageTimeElapsed);
    }

    function registrarTiempo(audioId) {
        var audio = document.getElementById(audioId);
        if (audio && audio.currentTime > 0) {
            tiemposReproduccion[audioId] = parseFloat(audio.currentTime.toFixed(2));
            if (audioId === "audio2") {
                audioReproducido = true;
                localStorage.setItem('audioReproducido_' + identificadorUnico, 'true');
            }
        }
    }

    function enviarTiempos() {
        document.getElementById("tiemposReproduccionInput").value = JSON.stringify(tiemposReproduccion);
    }

    function mostrarModal(numero) {
        document.getElementById('numeroAleatorio').textContent = numero;
        document.getElementById('modalNumeroAleatorio').style.display = 'block';
        modalAbierto = true;
        localStorage.setItem('modalAbierto_' + identificadorUnico, 'true');
    }

    function cerrarModal() {
        document.getElementById('modalNumeroAleatorio').style.display = 'none';
        modalAbierto = false;
        localStorage.setItem('modalAbierto_' + identificadorUnico, 'false');
    }

    function avanzarAPaginaSiguiente() {
        cerrarModal();
        var form = document.createElement('form');
        form.method = 'POST';
        form.action = window.location.href;
        document.body.appendChild(form);
        form.submit();
    }

    function liveRecv(data) {
        if (data) {
            localStorage.setItem('numeroAleatorio_' + identificadorUnico, data);
            mostrarModal(data);
        }
    }

    window.onload = function() {
        var audios = document.getElementsByTagName('audio');
        for (var i = 0; i < audios.length; i++) {
            var audioId = audios[i].id;
            tiemposReproduccion[audioId] = 0;
            audios[i].ontimeupdate = function() { registrarTiempo(this.id); };
        }

        if (pageTimerID === -1) {
            pageTimerID = setInterval(pageTick, 1000);
        }

        var nextButton = document.querySelector(".otree-btn-next");
        var botonAceptarModal = document.getElementById('botonAceptarModal');

        if (botonAceptarModal) {
            botonAceptarModal.onclick = avanzarAPaginaSiguiente;
        }

        if (nextButton) {
            nextButton.addEventListener('click', function(event) {
                if (!verificarReproduccion()) {
                    event.preventDefault();
                } else if (!modalAbierto) {
                    enviarTiempos();
                    liveSend({});
                    event.preventDefault();
                }
            });
        }

        if (localStorage.getItem('modalAbierto_' + identificadorUnico) === 'true') {
            var numeroAleatorioGuardado = localStorage.getItem('numeroAleatorio_' + identificadorUnico);
            if (numeroAleatorioGuardado) {
                mostrarModal(numeroAleatorioGuardado);
            }
        }
    };
</script>

{% endblock %}


