{% extends "global/Page.html" %}
{% load static otree %}

{% block styles %}
<link href="{% static 'custom.css' %}" rel="stylesheet" />
<style>
    .wrapper.instructions {
        text-align: center; /* Centra el contenido */
    }
    .wrapper.instructions ul {
        padding: 0;
    }
    .wrapper.instructions img {
        margin-top: 20px; /* Espacio por encima de la imagen */
        margin-bottom: 20px; /* Espacio debajo de la imagen */
    }
</style>
{% endblock %}

{% block content %}
<div class="wrapper instructions" style="text-align: center;">
    <h1>Felicidades!</h1>
    <p>¡Ya tienes {{ numeros_aleatorios|length }} boletas para participar en el primer sorteo del 8 de Febrero!</p>
    <p>Los números de boletas que has obtenido son los siguientes:</p>
    <ul id="listaNumerosAleatorios" style="list-style: none;">
        {% for numero in numeros_aleatorios %}
        <li>{{ numero }}</li>
        {% endfor %}
    </ul>
    <img src="{% static 'images/boleto_estatico.png' %}" alt="Golden Ticket" style="width: 100%; margin-top: 20px;">
    <p>Recuerda conectarte el día del sorteo al live de instagram y facebook a las 7pm en las cuentas de facebook e instagram de @radionovela123        
    </p>
    <p>¡Mucha suerte!</p>
</div>
{% next_button %}
{% endblock %}

{% block scripts %}
<script>
    window.onload = function() {
        var colores = ['red', 'green', 'blue', 'yellow', 'orange'];
        var elementosLi = document.querySelectorAll('#listaNumerosAleatorios li');
        elementosLi.forEach(function(li, index) {
            li.style.color = colores[index % colores.length];
            li.style.fontSize = "24px";
            li.style.fontWeight = "bold";
        });
    };
</script>
{% endblock %}

